html.dark nav.post-controls .show-replies,
html.dark nav.post-controls .show-replies:hover {
    background-color: rgba(1,148,148,0.3);
}
html.dark nav.post-controls .show-replies:hover {
    color: #fff;
}

html.dark .discourse-local-date.cooked {
	color: #019245;
}

html.dark .cooked, .d-editor-preview {
	line-height: 1.7;
}

html.dark .category-list tbody tr {
	border-collapse: separate;
	border-spacing: 0 2px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(255,255,255,0.22);
	transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

html.dark .category-list tbody tr:hover {
	box-shadow: 0 7px 12px rgba(0,0,0,0.25), 0 5px 5px rgba(255,255,255,0.5);
}


html.dark .category-boxes .category-box-inner, .category-boxes-with-topics .category-box-inner {
	border-width: 0;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(255,255,255,0.22);
	transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
	border-style: none;
	border-color: transparent;
}

.category-boxes .category-box-inner:hover,
.category-boxes-with-topics .category-box-inner:hover {
	box-shadow: 0 7px 12px rgba(0,0,0,0.25), 0 5px 5px rgba(255,255,255,0.5);
}

html.dark .category-list tbody .category h3 a[href], .category-list tbody .category h4 a[href] {
  color: #fff;
}

html.dark,
html.dark .header,
html.dark .header nav,
html.dark .side-nav,
html.dark .d-header,
html.dark .d-editor-textarea-wrapper,
html.dark blockquote aside.onebox,
html.dark body,
html.dark body .boxed.white,
html.dark #reply-control .wmd-controls .d-editor-input,
html.dark #reply-control .wmd-controls .d-editor-preview,
html.dark .admin-detail,
html.dark .modal-inner-container,
html.dark .menu-panel,
html.dark #reply-control.fullscreen:before,
html.dark .user-menu .notifications .read,
html.dark .user-stream .item.large-notification,
html.dark .user-stream .user-stream-item,
html.dark .select-kit.multi-select .select-kit-row,
html.dark .select-kit .select-kit-collection,
html.dark .select-kit .select-kit-body,
html.dark .popup-menu,
html.dark .user-menu .quick-access-panel .read {
	background-color: #111923;
}

html.dark .topic-map .buttons .btn,
html.dark .modal .nav,
html.dark .edit-category-tab-topic-template .d-editor-preview,
html.dark .bootbox.modal,
html.dark .user-menu .notifications .show-all .btn,
html.dark .select-kit .select-kit-row.is-highlighted,
html.dark .admin-customize .field-error,
html.dark .user-menu .notifications li:hover,
html.dark .menu-panel li a:hover,
html.dark .select-kit.combo-box .select-kit-row,
html.dark .menu-panel li a:focus,
html.dark .modal.history-modal span.edit-reason,
html.dark .select-kit.combo-box.mini-tag-chooser .select-kit-collection .collection-header .selected-tag,
html.dark .vote-option:hover,
html.dark .voting-wrapper.show-pointer .vote-count-wrapper:not(.no-votes):hover,
html.dark .user-menu .quick-access-panel .show-all a,
html.dark #banner {
	background-color: #1f353e;
}

html.dark .discourse-no-touch:hover,
html.dark .btn:hover,
html.dark .select-kit .select-kit-row.is-selected,
html.dark .admin-report-table .table .admin-report-table-header:not(.is-current-sort) .sort-btn:hover,
html.dark .select-kit.combo-box .select-kit-row:hover {
	background: #006f6f;
}

html.dark .menu-panel {
	border: 1px solid #1f353e;
}

html.dark .badge-wrapper:hover {
	background: none !important;
}

html.dark .latest-topic-list-item {
	margin: 10px 0;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(255, 255, 255, 0.22);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	border-bottom: none;
}

html.dark .latest-topic-list-item:hover {
	box-shadow: 0 7px 12px rgba(0,0,0,0.25), 0 5px 5px rgba(255,255,255,0.5);
}

.category-boxes-with-topics .category-box-heading {
	background-color: rgba(0, 0, 0, 0.1);
}

html.dark .category-boxes-with-topics .category-box-heading {
	background-color: rgba(255, 255, 255, 0.1);
}

html.dark .search-container .search-advanced-sidebar .search-advanced-filters,
html.dark .user-preferences .bio-composer .d-editor-preview {
	background: #222;
}



.darknav ul a,
html.dark .content-text,
html.dark .sidebar-counterTitle,
html.dark .sidebar-counterPlayer,
html.dark .sidebar-themeText,
html.dark .discord-title,
html.dark .discord-channel,
html.dark .discord-user,
html.dark .sidebar-counterTitleWrapper,
html.dark .header-navListItemLink--mobile,
html.dark .header-navListItemLin,
html.dark .sidebar-themeSwitcher--off,
html.dark .sidebar-themeSwitcher--on,
html.dark .dropdown-content li > a,
html.dark .dropdown-content li > span,
html.dark .base li,
html.dark .base p,
html.dark .base h3,
html.dark .base h4,
html.dark select,
html.dark .flagged-post .flagged-post-details .flagged-post-contents .flagged-post-user-details .username,
html.dark .search-title .result-count span,
html.dark .search-title .sort-by .desc,
html.dark .discord-join,
html.dark .discord-join a,
html.dark .add-warning,
html.dark .search-container .search-advanced .search-info .sort-by .desc,
html.dark .search-container .search-advanced .search-info .result-count,
html.dark .select-kit.dropdown-select-box.period-chooser .period-chooser-header h2.selected-name .date-section,
html.dark .dashboard-next .community-health .period-chooser .period-chooser-header .d-icon,
html.dark .dashboard-next .section .section-title h2 a,
html.dark .admin-report .report-header .report-title .title .report-link,
html.dark .admin-customize .themes-list-container .themes-list-item a,
html.dark .admin-customize .themes-list-container .themes-list-item span.empty,
html.dark .topic-map .participants .user .user-link:hover,
html.dark .topic-map .participants .user .group-link:hover,
html.dark .admin-customize .themes-list-container .themes-list-item,
html.dark .settings .setting .setting-label,
html.dark .setting-value,
html.dark .user-table,
html.dark .user-navigation .nav-stacked a.active,
html.dark .admin-customize .edit-main-nav .show-overidden,
html.dark .admin-container,
html.dark .admin-content,
html.dark .content-body,
html.dark .admin-report .header .breadcrumb .report .report-url,
html.dark .search-container,
html.dark .groups-table,
html.dark .show-badge,
html.dark .badges,
html.dark .topic-status-info,
html.dark .d-editor-preview,
html.dark .cooked,
html.dark .queued-posts p,
html.dark .category-heading p,
html.dark .extra-info-wrapper .topic-statuses .d-icon,
html.dark .error-page,
html.dark .suggested-topics .suggested-topics-title,
html.dark #main-outlet,
html.dark .user-preferences h3,
html.dark .discourse-local-date.cooked-date,
html.dark .cooked table thead th,
html.dark .cooked table thead th, .d-editor-preview table thead th,
html.dark .mobile-nav a,
html.dark .top-navbar-links-title,
html.dark .topic-body .regular,
html.dark #topic-title h1 a,
html.dark #topic-title .topic-statuses,
html.dark .category-list tbody .category h3 a[href],
html.dark .timeline-container .topic-timeline .timeline-replies,
html.dark .discourse-no-touch .topic-body .actions .fade-out,
html.dark #suggested-topics,
html.dark .topic-list-bottom,
html.dark .user-main .nav-stacked li>a.active,
html.dark div.poll li[data-poll-option-id],
html.dark aside.onebox header a[href],
html.dark .contents,
html.dark nav.post-controls button.create,
html.dark .directory .period-chooser,
html.dark .directory table,
html.dark .dashboard-stats table .title i.fa,
html.dark #topic-closing-info,
html.dark .content-list ul li a,
html.dark .topic-map .map .number, .topic-map .map i,
html.dark .topic-map h3,
html.dark .topic-map .buttons .btn:hover,
html.dark .user-preferences .static,
html.dark .d-editor-button-bar button,
html.dark .category-list-item h3 a[href],
html.dark .category-list-item>footer figure,
html.dark .user-preferences .static,
html.dark .nav-pills>li>a,
html.dark #reply-control .contents .d-editor-input,
html.dark .user-main .about .details .primary .primary-textual,
html.dark .user-main .about.collapsed-info .details .primary h2,
html.dark .user-main .about.collapsed-info .details .primary h1,
html.dark .stats-section .value,
html.dark .category-boxes-with-topics h3,
html.dark section.details h1,
html.dark .groups-table .groups-info .groups-info-name,
html.dark .group-owner-label,
html.dark .group-activity-nav li a.active,
html.dark .group-activity-nav li a,
html.dark h1 .topic-statuses .topic-status i,
html.dark .extra-info-wrapper .topic-link,
html.dark .extra-info-wrapper .topic-link,
html.dark .small-action .small-action-desc button,
html.dark .topic-list-main-link a.title,
html.dark .latest-topic-list-item .main-link a.title.visited:not(.badge-notification),
html.dark .badge-wrapper.box span.badge-category,
html.dark .selected-posts p,
html.dark .modal-body,
html.dark .modal-header h3,
html.dark .popular-theme-item .popular-theme-name a,
html.dark .select-kit.combo-box.category-drop .select-kit-row .topic-count,
html.dark .select-kit.combo-box .select-kit-row.no-content,
html.dark .footer-copyright,
html.dark .footer-copyrightLink,
html.dark .btn .d-icon,
html.dark .select-kit .select-kit-row .name,
html.dark .select-kit.combo-box .select-kit-row,
html.dark .select-kit.dropdown-select-box.period-chooser .period-chooser-row .date-section,
html.dark .pref-auth-tokens .auth-token-dropdown .btn .d-icon, .pref-auth-tokens .auth-token-dropdown .btn:hover .d-icon,
html.dark .select-kit.combo-box.category-chooser .select-kit-row .topic-count,
html.dark .select-kit.combo-box.mini-tag-chooser .select-kit-row .discourse-tag-count,
html.dark .user-stream .excerpt,
html.dark .group-info .group-info-name,
html.dark .user-secondary-navigation .nav-stacked a.active,
html.dark .user-menu .notifications li a,
html.dark .user-menu .notifications .d-icon,
html.dark .select-kit .category-row .topic-count,
html.dark select, input[type="file"],
html.dark .modal.has-tabs .modal-tabs .modal-tab,
html.dark .close:hover,
html.dark .select-kit .select-kit-collection,
html.dark .select-kit.dropdown-select-box .select-kit-row .texts .name,
html.dark .d-editor-preview .image-wrapper .button-wrapper .scale-btn.active,
html.dark .select-kit.combo-box .select-kit-filter .filter-input,
html.dark .select-kit.dropdown-select-box.period-chooser .period-chooser-header .d-icon,
html.dark .groups-boxes .group-box .groups-info-name,
html.dark .modal.has-tabs .modal-tabs .modal-tab.is-active.single-tab,
html.dark .d-editor-textarea-wrapper textarea,
html.dark .admin-badge-list-item .badge-display-name,
html.dark .reviewable-item .post-topic .title-text,
html.dark .select-kit .select-kit-row .discourse-tag-count,
html.dark .select-kit .select-kit-row .discourse-tag,
html.dark #banner-content,
html.dark .modal.history-modal #revision-numbers,
html.dark a.inline-editable-field,
html.dark span.mention,
html.dark div.menu-links-header a.user-activity-link span.d-label,
html.dark .quick-access-profile .user-menu .quick-access-panel li a>div,
nav.post-controls .actions button.create {
	color: #fbfbfb;
}

html.dark.content-textLine,
html.dark .search-container .search-advanced-sidebar .search-advanced-title,
html.dark .select-kit.multi-select .choices .selected-name .body {
	background-color: #9a9a9a; }

html.dark .dashboard-mini-chart .status .title a,
html.dark .admin-customize .themes-list-container .themes-list-item:not(.inactive-indicator):not(.selected):hover,
html.dark .names span a,
html.dark div.poll .results .bar,
html.dark .user-info .user-detail .username a,
html.dark .dashboard-stats table th,
html.dark .reply-to a,
html.dark div.poll .poll-info,
html.dark a.hashtag,
html.dark .title-wrapper .topic-statuses .d-icon,
html.dark .user-stream .notification p span:first-child,
html.dark .discourse-local-date.cooked-date .d-icon,
html.dark .menu-panel li a.widget-link,
html.dark .user-menu .quick-access-panel li a>div,
.menu-panel li a.widget-link {
	color: #019245;
}

html.dark .header-nav--active,
html.dark .header-navListItem:hover {
	background: #019245;
	background: -webkit-linear-gradient(top, rgba(255, 0, 0, 0), #019245);
	background: linear-gradient(to bottom, rgba(255, 0, 0, 0), #019245);
	color: #fff;
}

html.dark .discord-join:hover,
html.dark .discord-join:hover a,
html.dark .discord-join:hover span,
html.dark .discord-join a:hover,
html.dark .discord-join a:hover a,
html.dark .discord-join a:hover span,
html.dark .donation-modalFooterAccept:hover,
html.dark .donation-modalFooterAccept:hover a,
html.dark .donation-modalFooterAccept:hover span,
html.dark .donation-info:hover,
html.dark .donation-info:hover a,
html.dark .donation-info:hover span,
html.dark .donation-infoButton:hover,
html.dark .donation-infoButton:hover a,
html.dark .donation-infoButton:hover span,
html.dark .ecc-calc:hover,
html.dark .ecc-calc:hover a,
html.dark .header-navListItemLink,
html.dark .ecc-calc:hover span,
html.dark .latest-topic-list-item .main-link a.title,
html.dark .search-footer,
html.dark.desktop-view .d-toc-active a {
	color: #fbfbfb !important;
}

html.dark .discord-join:active,
html.dark .discord-join a:active,
html.dark .donation-modalFooterAccept:active,
html.dark .donation-info:active,
html.dark .donation-infoButton:active,
html.dark .ecc-calc:active {
	background-color: #019245;
	color: #fbfbfb;
}

html.dark .admin-controls .controls.search label,
html.dark .admin-report-table .total-row,
html.dark .select-kit.combo-box .select-kit-header,
html.dark .display-row.highlight-danger,
html.dark .d-toc-close,
html.dark .mobile-nav .drop.expanded li a,
html.dark nav.post-controls button.create:hover,
html.dark div.ac-wrap div.item span,
html.dark .composer-popup,
html.dark #share-link h3,
html.dark .timeline-container.timeline-fullscreen .topic-timeline .post-excerpt,
html.dark .modal-inner-container .d-editor-button-bar button,
html.dark #reply-control .reply-area .ac-wrap,
html.dark .user-main .about .details .primary h1,
html.dark .user-main .about .details h2,
html.dark .user-main .about .details h3,
html.dark .groups .ac-wrap .item,
html.dark .topic-list .topic-list-item-separator td span,
html.dark .list-controls .category-dropdown-menu .badge-category.home,
html.dark #banner-content li[data-poll-option-id],
html.dark .has-pending-posts,
html.dark .d-editor .d-editor-modal h3,
html.dark #simple-container,
html.dark .list-controls .category-breadcrumb .dropdown-header,
html.dark .select-box-kit.combo-box .select-box-kit-row,
html.dark .ip-lookup .location-box,
html.dark .show-badge-details .badge-title .form-horizontal .controls,
html.dark .share-and-invite.modal .share.modal-panel .body .topic-share-url {
	color: #222;
}

html.dark .small-action-desc button, 
html.dark .d-editor-button-bar button {
  background: transparent;
}

html.dark .topic-list .topic-list-item-separator td span {
  background: #111923;
  color: #ec8972;
}

html.dark .header-navListSub--connect {
	background-color: #010303;
	list-style: none;
	width: 100%;
}

html.dark .header-navListSub--connect a,
html.dark .post-notice .d-icon {
	color: #fff;
}

html.dark .header-navListSub--connect:hover,
html.dark .admin-customize .themes-list-container .themes-list-item:hover,
html.dark .admin-customize .themes-list-header .tab:not(.active):hover,
html.dark .timeline-container .topic-timeline .timeline-handle,
html.dark div.poll .results .bar,
html.dark .selected-posts .btn,
html.dark .topic-post.selected article.boxed .select-posts button.select-post,
html.dark .post-notice,
html.dark .topic-body .solved-container .btn {
	background-color: #019245;
}

html.dark .moderator .cooked,
html.dark .group-details-container,
html.dark .user-content {
	background-color: inherit;
}

html.dark .flagged-post .flagged-post-message {
	background-color: rgba(255, 255, 166, 0.1);
}

html.dark .counters-list .admin-report .main:hover {
	background-color: rgba(248, 248, 248, 0.15);
}

html.dark .admin-controls nav:before,
html.dark .admin-controls nav:after {
	background: none;
}

html.dark .post-notice.old {
    color: #fbfbfb;
    font-style: italic;
}

html.dark .admin-controls .nav-pills,
html.dark .admin-customize .themes-list-header {
	background: #010303;
}

html.dark.discord-userlist::-webkit-scrollbar,
html.dark.discord-userlist::-webkit-scrollbar-track {
	background-color: #9a9a9a; }

html.dark.discord-userlist::-webkit-scrollbar-thumb {
background-color: #004621;

}

html.dark .btn,
html.dark .select-kit.dropdown-select-box.toolbar-popup-menu-options .select-kit-row {
	background-color: #019494;
	color: #fbfbfb;
}

html.dark .topic-statuses + a {
	color: #fff !important;
}

html.dark .top-row + a {
	color: #9a9a9a !important;
}

html.dark .list-controls .combo-box .combo-box-header {
	background-image: initial;
	background-color: #17181c;
	color: #dbd9d5;
	border-top-color: #494949;
	border-right-color: #494949;
	border-bottom-color: #494949;
	border-left-color: #494949;
}

html.dark .theme {
	box-shadow: 0 0 4px #f7f7f7;
}

html.dark blockquote,
html.dark .moderator .topic-body,
html.dark .staff-actions .heading-container, .screened-emails .heading-container, .screened-urls .heading-container, .screened-ip-addresses .heading-container, .permalinks .heading-container, .web-hook-events .heading-container {
	background-color: rgba(255, 255, 255, 0.07);
}

html.dark .admin-contents table tr:hover {
	background-color: rgba(255, 255, 255, 0.07);
}

html.dark .discourse-no-touch .topic-body .actions .fade-out {
	font-weight: bold;
}

html.dark .nav-pills>li>a:hover,
html.dark span.highlighted,
html.dark .user-stream .item.large-notification.unread {
	background-color: #006f6f;
}

html.dark .gap.jagged-border {
	background-image: linear-gradient(135deg, #111923 50%, rgba(255,255,255,0) 50%),linear-gradient(-135deg, #111923 50%, rgba(255,255,255,0) 50%),linear-gradient(45deg, #111923 50%, rgba(255,255,255,0) 50%),linear-gradient(-45deg, #111923 50%, rgba(255,255,255,0) 50%);
}

html.dark .gap {
	background-color: #4c3434;
}

html.dark #reply-control {
	background-color: #26313e;
}

html.dark .admin-controls {
	background-color: #3b3b40;
}

html.dark .user-menu .notifications li span,
html.dark .large-notification a span,
html.dark .select-kit.dropdown-select-box,
html.dark .user-menu .quick-access-panel li span:first-child {
	color: #d0901d;
}

html.dark .topic-map {
	background: #152227;
}

html.dark .user-main .about.collapsed-info .details,
html.dark .cbox10 {
	background: rgba(245, 248, 249, 0.1);
}

html.dark .dashboard-stats table th,
html.dark .content-list ul li a:hover,
html.dark .user-menu .quick-access-panel .read:hover {
	background: rgb(31, 42, 56);
}

html.dark .admin-flags .message {
	background-color: #381423;
}

html.dark .user-menu .notifications li {
    background-color: #006f6f;
}

html.dark .user-menu .quick-access-panel li {
    background-color: rgba(1, 148, 148, 0.3);
}

html.dark .user-menu .quick-access-panel li:focus,
html.dark .user-menu .quick-access-panel li:hover {
    box-shadow: inset 0px 0px 0px 2px #019494;
}

html.dark .theme,
html.dark .selected-posts {
	background: #222;
}

html.dark .dashboard-stats.detected-problems {
	background: #615151;
}

html.dark .select-box .select-box-header,
html.dark .presence-users {
	background: transparent;
}

html.dark .modal.history-modal del {
	background: #c17f7f;
}
