.header-line {
	background-color: #019245;
	border: none;
	margin: 0;
	position: fixed;
	top: 0;
	width: 100%; }
.header-nav {
	height: inherit;
	line-height: inherit;
	border: none;
	box-shadow: none;
	transition: all .15s ease-out;
	-moz-transition: all .15s ease-out;
	-ms-transition: all .15s ease-out;
	-o-transition: all .15s ease-out;
	-webkit-transition: all .15s ease-out; }
.header-navList {
	list-style-type: none;
}
.header-nav--dynamic {
	height: 69px; }
.header-nav--active {
	background-color: #019245;
	background: -webkit-linear-gradient(top, rgba(255, 0, 0, 0), #019245);
	background: linear-gradient(to bottom, rgba(255, 0, 0, 0), #019245);
	color: #fff !important; }
.header-navWrapper {
	display: inline-block; }
.header-navLogo {
	height: 144px;
	position: relative;
	transition: all .15s ease-out;
	-moz-transition: all .15s ease-out;
	-ms-transition: all .15s ease-out;
	-o-transition: all .15s ease-out;
	-webkit-transition: all .15s ease-out; }
.header-navLogo--dynamic {
	height: 70px; }
.header-navListItem {
	background: none;
	line-height: 129px;
	min-width: 100px;
	transition: all .15s ease-out;
	-moz-transition: all .15s ease-out;
	-ms-transition: all .15s ease-out;
	-o-transition: all .15s ease-out;
	-webkit-transition: all .15s ease-out; }
.header-navListItem--dynamic {
	height: 69px;
	line-height: 69px; }
.header-navListItem:hover {
	background-color: #019245;
	background: -webkit-linear-gradient(top, rgba(255, 0, 0, 0), #019245);
	background: linear-gradient(to bottom, rgba(255, 0, 0, 0), #019245);
	color: #fff; }
.header-navListItem:hover:not(.header-navListItem) {
	background: none;
	color: transparent; }
.header-navListItemConnect {
	position: relative;
	pointer-events: none;}
.header-navListItemConnectRing {
	border: 3px solid #d0901d;
	-webkit-border-radius: 30px;
	height: 15px;
	width: 15px;
	position: absolute;
	-webkit-animation: pulsate 1.5s ease-out;
	-webkit-animation-iteration-count: infinite;
	opacity: 0.0; }
.header-navListItemConnectDot {
	width: 5px;
	height: 5px;
	background-color: #d0901d;
	border-radius: 50%;
	position: absolute; }
.header-navListItemLink--logo {
	height: 1px; }
.header-navListItemLink:focus {
	outline: none; }
.header-navMobileButton {
	-webkit-filter: drop-shadow(1px 1px 4px #fbfbfb);
	filter: drop-shadow(1px 1px 4px #fbfbfb);
	border-bottom: 0 solid transparent;
	border-left: 50px solid rgba(7, 17, 27, 0.9);
	border-top: 50px solid transparent;
	bottom: 0;
	cursor: pointer;
	display: none;
	height: 100%;
	top: 70%;
	left: 0;
	position: fixed;
	transition: all .15s ease-out;
	-moz-transition: all .15s ease-out;
	-ms-transition: all .15s ease-out;
	-o-transition: all .15s ease-out;
	-webkit-transition: all .15s ease-out;
	width: 10px; }
.header-navMobileButton:after {
	bottom: 80%;
	color: #fff;
	content: 'Menu';
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	left: -45px;
	position: absolute;
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg); }
@media only screen and (max-width: 720px) {
	.header {
		height: 60px; }
	.header-line {
		height: 3px; }
	.header-nav--dynamic {
		height: 59px; }
	.header-nav--activeMobile {
		background-color: #019245;
		background: -webkit-linear-gradient(left, rgba(255, 0, 0, 0), #019245);
		background: linear-gradient(to right, rgba(255, 0, 0, 0), #019245);
		color: #fff; }
	.header-navLogo {
		height: 70px; }
	.header-navLogo--dynamic {
		height: 70px; }
	.header-navListItem {
		min-width: 90px;
		line-height: 59px; }
	.header-navListItem:nth-child(1), .header-navListItem:nth-child(2), .header-navListItem:nth-child(6), .header-navListItem:nth-child(7), .header-navListItem:nth-child(8) {
		display: none; }
	.header-navListItem--dynamic {
		height: 59px;
		line-height: 59px; }
	.header-navListItemLink {
		padding: 0 5px; }
	.header-navListItem--mobile:hover {
		background-color: #019245;
		background: -webkit-linear-gradient(left, rgba(255, 0, 0, 0), #019245);
		background: linear-gradient(to right, rgba(255, 0, 0, 0), #019245);
		color: #fff; }
	.header-navListItemConnectRing {
		left: 67px;
		top: 15px; }
	.header-navListItemConnectRing--dynamic {
		top: 12px; }
	.header-navListItemConnectDot {
		left: 75px;
		top: 20px; }
	.header-navListItemConnectDot--dynamic {
		top: 20px; }
	.header-navMobileButton {
		display: block; } }
.header-line {
	height: 4px; }
.header--dynamic {
	height: 70px; }
.header-navLogo {
	height: 110px; }
.header-navLogo--dynamic {
	height: 70px; }
.header-navListItem {
	min-width: 90px;
	line-height: 89px; }
.header-navListItem:nth-child(8) {
	display: none; }
.header-navListItem--dynamic {
	height: 69px;
	line-height: 69px; }
.header-navListItemLink {
	padding: 0 12px; }
.header-navListItemConnectRing {
	left: 67px;
	top: 25px; }
.header-navListItemConnectRing--dynamic {
	top: 17px; }
.header-navListItemConnectDot {
	left: 75px;
	top: 30px; }
.header-navListItemConnectDot--dynamic {
	top: 25px; }
.header-line {
	height: 5px; }
.header--dynamic {
	height: 70px; }
.header-navLogo {
	height: 150px; }
.header-navLogo--dynamic {
	height: 70px; }
.header-navListItem {
	min-width: 100px;
	line-height: 129px; }
.header-navListItem--dynamic {
	height: 69px;
	line-height: 69px; }
.header-navListItemConnectRing {
	left: 72px;
	top: 45px; }
.header-navListItemConnectRing--dynamic {
	top: 17px; }
.header-navListItemConnectDot {
	left: 80px;
	top: 50px; }
.header-navListItemConnectDot--dynamic {
	top: 25px; }

#header-fixed {
	background-color: #000000;
	border: none;
	display: none;
	max-width: 1238px;
	position: fixed;
	top: 0;
	width: auto; }
