/*
Alien Night Theme (Desktop) - A Dark Theme for Discourse
Author: Ignaz Biegler
Github: https://github.com/B-iggy/discourse-dark-theme
Version 1.1.1
*/
body,
.user-main .user-content {
    background-color: #10161d;
}

.top-navbar-links-title,
.nav-pills>li>a,
.topic-list a.title,
.topic-body .regular,
#topic-title h1 a,
#topic-title .topic-statuses,
.category-list tbody .category h3 a[href],
.timeline-container .topic-timeline .timeline-replies,
.discourse-no-touch .topic-body .actions .fade-out,
#suggested-topics,
.topic-list-bottom,
.user-main .nav-stacked li>a.active,
.theme-switcher,
div.poll li[data-poll-option-id],
aside.onebox header a[href],
.contents,
nav.post-controls button.create,
.directory .period-chooser,
.directory table,
.dashboard-stats table .title i.fa,
#topic-closing-info,
.content-list ul li a,
.topic-map .map .number, .topic-map .map i,
.topic-map h3,
.topic-map .buttons .btn:hover,
.user-preferences .static,
.d-editor-button-bar button,
.category-list-item h3 a[href],
.category-list-item>footer figure,
.user-preferences .static,
.d-editor-button-bar button {
    color: #fff;
}

nav.post-controls button.create:hover,
div.ac-wrap div.item span,
.composer-popup,
.search-menu .no-results,
.modal-header h3,
.modal-body,
.popup-menu h3,
.selected-posts p,
#share-link h3,
.panel-body-contents .search-context label {
    color: #222;
}

.names span a,
div.poll .results .bar,
.user-info .user-detail .username a,
.dashboard-stats table th,
.reply-to a,
div.poll .poll-info {
    color: #019245;
}

.timeline-container .topic-timeline .timeline-handle,
div.poll .results .bar {
    background-color: #019245;
}

.topic-map .buttons .btn {
    background: #1f353e;
}

blockquote,
.moderator .topic-body {
    background-color: rgba(255, 255, 255, 0.07);
}

.topic-body .regular {
    line-height: 1.7;
}

.discourse-no-touch .topic-body .actions .fade-out {
    font-weight: bold;
}

.like .fa-heart {
    color: #999;
}

.highlight-action .fa-heart,
.like-count ~ .like .fa-heart,
nav.post-controls button.has-like {
    color: #f11010;
}

.nav-pills>li>a:hover,
span.highlighted {
    background-color: rgba(255, 102, 0, 0.7);
}

.gap.jagged-border {
    background-image: linear-gradient(135deg, #10161d 50%, rgba(255,255,255,0) 50%),linear-gradient(-135deg, #10161d 50%, rgba(255,255,255,0) 50%),linear-gradient(45deg, #10161d 50%, rgba(255,255,255,0) 50%),linear-gradient(-45deg, #10161d 50%, rgba(255,255,255,0) 50%);
}

.gap {
    background-color: #4c3434;
}

body .boxed.white,
#reply-control .wmd-controls .d-editor-input, #reply-control .wmd-controls .d-editor-preview {
    background-color: #10161d;
    color: #fff;
}

#reply-control {
    background-color: #26313e;
}

.admin-controls {
    background-color: #3b3b40;
}

.topic-map {
    background: #152227;
}
