/*
Alien Night Theme (Desktop) - A Dark Theme for Discourse
Author: Ignaz Biegler
Github: https://github.com/B-iggy/discourse-dark-theme
Version 1.1.3
*/
.theme-switcher {
    margin-left: 10%;
}

.theme-switcher-attr {
    color: #fff !important;
    font-weight: bold;
    padding: 5px;
    margin: 2px;
    display: inline-block;
}

.theme-switcher-light {
    background-color: #fff;
    color: #222 !important;
    border: 1px solid #333;
}

.theme-switcher-dark {
    background-color: #10161d;
    border: 1px solid #fff;
}

html.dark,
html.dark body,
html.dark .user-main .user-content,
html.dark body .boxed.white,
html.dark #reply-control .wmd-controls .d-editor-input,
html.dark #reply-control .wmd-controls .d-editor-preview,
html.dark .admin-detail {
    background-color: #10161d;
}

html.dark,
html.dark .top-navbar-links-title,
html.dark .topic-list a.title,
html.dark .topic-body .regular,
html.dark #topic-title h1 a,
html.dark #topic-title .topic-statuses,
html.dark .category-list tbody .category h3 a[href],
html.dark .timeline-container .topic-timeline .timeline-replies,
html.dark .discourse-no-touch .topic-body .actions .fade-out,
html.dark #suggested-topics,
html.dark .topic-list-bottom,
html.dark .user-main .nav-stacked li>a.active,
html.dark .theme-switcher,
html.dark div.poll li[data-poll-option-id],
html.dark aside.onebox header a[href],
html.dark .contents,
html.dark nav.post-controls button.create,
html.dark .directory .period-chooser,
html.dark .directory table,
html.dark .dashboard-stats table .title i.fa,
html.dark #topic-closing-info,
html.dark .content-list ul li a,
html.dark .topic-map .map .number, .topic-map .map i,
html.dark .topic-map h3,
html.dark .topic-map .buttons .btn:hover,
html.dark .user-preferences .static,
html.dark .d-editor-button-bar button,
html.dark .category-list-item h3 a[href],
html.dark .category-list-item>footer figure,
html.dark .user-preferences .static,
html.dark .d-editor-button-bar button,
html.dark .nav-pills>li>a,
html.dark #reply-control .contents .d-editor-input, 
html.dark #reply-control .contents .d-editor-preview {
    color: #fff;
}

html.dark.mobile-view .nav-pills>li>a {
    color: #222;
}

html.dark nav.post-controls button.create:hover,
html.dark div.ac-wrap div.item span,
html.dark .composer-popup,
html.dark .search-menu .no-results,
html.dark .modal-header h3,
html.dark .modal-body,
html.dark .popup-menu h3,
html.dark .selected-posts p,
html.dark #share-link h3,
html.dark .panel-body-contents .search-context label,
html.dark .timeline-container.timeline-fullscreen .topic-timeline .post-excerpt {
    color: #222;
}

html.dark .names span a,
html.dark div.poll .results .bar,
html.dark .user-info .user-detail .username a,
html.dark .dashboard-stats table th,
html.dark .reply-to a,
html.dark div.poll .poll-info {
    color: #019245;
}

html.dark .timeline-container .topic-timeline .timeline-handle,
html.dark div.poll .results .bar {
    background-color: #019245;
}

html.dark .topic-map .buttons .btn {
    background: #1f353e;
}

html.dark blockquote,
html.dark .moderator .topic-body {
    background-color: rgba(255, 255, 255, 0.07);
}

html.dark .topic-body .regular {
    line-height: 1.7;
}

html.dark .discourse-no-touch .topic-body .actions .fade-out {
    font-weight: bold;
}

html.dark .like .fa-heart {
    color: #999;
}

html.dark .highlight-action .fa-heart,
html.dark .like-count ~ .like .fa-heart,
html.dark nav.post-controls button.has-like {
    color: #f11010;
}

html.dark .nav-pills>li>a:hover,
html.dark span.highlighted {
    background-color: rgba(255, 102, 0, 0.7);
}

html.dark .gap.jagged-border {
    background-image: linear-gradient(135deg, #10161d 50%, rgba(255,255,255,0) 50%),linear-gradient(-135deg, #10161d 50%, rgba(255,255,255,0) 50%),linear-gradient(45deg, #10161d 50%, rgba(255,255,255,0) 50%),linear-gradient(-45deg, #10161d 50%, rgba(255,255,255,0) 50%);
}

html.dark .gap {
    background-color: #4c3434;
}

html.dark #reply-control {
    background-color: #26313e;
}

html.dark .admin-controls {
    background-color: #3b3b40;
}

html.dark .topic-map {
    background: #152227;
}

html.dark .user-main .about.collapsed-info .details {
    background: rgba(245, 248, 249, 0.1);
}
