@if $import-google-font == "true" {
  @import url('https://fonts.googleapis.com/css?family=Muli:400,800');
}

.embedded-posts {
    border: none;
}

.embedded-posts.bottom {
    background-color: #01924529;
}

nav.post-controls .show-replies {
    background: #e9e9e9;
}

nav.post-controls button.create {
    background-color: #019245;
    color: #fff;
}

nav.post-controls button.create .d-icon {
    color: #fff;
}

nav.post-controls button.create:hover {
    color: #fff;
}

.embedded-posts.bottom .row .topic-avatar,
.embedded-posts.bottom .row .topic-body {
    border: none;
}


.small-action {
	max-width: 788px;
	border-top: none;
	margin: 10px 0;
	.small-action-desc {
		padding: 15px;
		box-shadow: 0 9px 8px rgba(0,0,0,0.30), 0 5px 12px rgba(0,0,0,0.22);
	}
	.topic-avatar {
		margin: 0;
	}
}

.post-notice {
	border: none;
	max-width: 762px;
}

.topic-avatar {
	border-top: none;
}

.topic-owner .topic-body {
	box-shadow: none;
}

.topic-body {
	border-top: none;
	padding: 15px;
	margin: 10px 0;
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	box-shadow: 0 9px 8px rgba(0,0,0,0.30), 0 5px 12px rgba(0,0,0,0.22);
}

.topic-body:hover {
	padding: 15px;
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	box-shadow: 0 1px 1px rgba(0,0,0,0.3), 0 0px 1px rgba(0,0,0,0.22);
}

.theme-switcherBox {
	height: 0;
	width: 0 !important;
	visibility: hidden;
}

.theme-switcherLabel {
	cursor: pointer;
	text-indent: -9999px;
	width: 50px;
	height: 30px;
	background: #1f353e;
	display: block;
	border-radius: 100px;
	position: relative;
}

.theme-switcherLabel:after {
	content: '';
	position: absolute;
	top: 5px;
	left: 5px;
	width: 20px;
	height: 20px;
	background: #ffffff;
	border-radius: 90px;
	transition: 0.3s;
}

.theme-switcherBox:checked + .theme-switcherLabel {
	//background: #1f353e;
	background: #fff;
}

.theme-switcherBox:checked + .theme-switcherLabel:after {
	background: #1f353e;
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

.theme-switcherLabel:active:after {
	width: 25px;
}



.theme-switcher {

	&Wrapper {
		display: flex;
	}

	&--dark {
		color: #222;

		@at-root html.dark .theme-switcher--dark {
			color: #fff;
		}
	}

	&--light {
		color: #222;

		@at-root html.dark .theme-switcher--light {
			color: #fff;
		}
	}

	&--light,
	&--dark {
		padding: 5px;

		&:hover {
			color: #019494 !important;
		}
	}
}

@media only screen and (max-width: 500px) {
	.theme-switcher--dark,
	.theme-switcher--light {
		display: none;
	}
}

  .new-user .name-username-wrapper,
  .first.new-user:not(.staff) a {
      color: #d0901d;
  }

body {
	@if $import-google-font == "true" {
	 font-family: 'Muli', sans-serif;
	} @else {
		font-family: sans-serif;
	}
	font-size: 16px;
}

.topic-body.highlighted {
	animation: fadein 1s;
}

strong, b {
    font-weight: 800;
}

.btn-danger {
	background-color: #e45735 !important;
}

.topic-body .cooked .bbcodecenter {
	margin-bottom: 0;
}

.online_users_widget {
	display:none;
}

body.staff .online_users_widget {
	display:block;
}

/* Not sure what this is meant to do, but it's making logos on category pages very very large
.category-logo.aspect-image img {
	width: initial;
}
*/

.wrap,
#banner {
	max-width: 1200px;
}

.timeline-container {
	z-index: 95;
}

.header-navListItem--patreon a {
	color: #fbfbfb !important;
}

.highlight-strong {
	background-color: rgba(1, 146, 69, 0.67);
}

.badge-wrapper.box span.badge-category {
	color: #fff;
}

.badge-wrapper.box span.badge-category-bg, .badge-wrapper.box span.badge-category-parent-bg {
	border-radius: 2px;
}

.badge-wrapper.box {
	padding: 2px 5px 2px 5px;
	display: inline-block;
	margin: 2px 0;
}

.post-controls .accepted-text {
	vertical-align: -webkit-baseline-middle;
}

.groups-table .groups-info .avatar-flair-image,
.group-info .avatar-flair {
	background-repeat: no-repeat;
}

/*
@keyframes showOnlineDelay {
    0% {
        opacity: 0;
    }
    90% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#whos-online {
    animation-name: showOnlineDelay;
    animation-duration: 3s;
}

html.whos-online-flair .latest-topic-list .latest-topic-list-item.last-poster-online .topic-poster::before {
    animation-name: showOnlineDelay;
    animation-duration: 3s;
}
*/

#whos-online a {
	transition-delay: 100ms;
}

.select-kit.combo-box {
	min-width: 20%;
}

.category-boxes-with-topics .category-box-heading a[href]:hover,
html.dark .category-boxes-with-topics h3:hover {
	color: #019245;
}

.floatl {
	float:left;
	margin-right:15px;
}

.floatr {
	float:right;
	margin-left:15px;
}

.d-editor-spacer {
	display: none;
}

.fps-result .blurb .search-highlight {
	color: #d0901d;
}

.badges .form-horizontal textarea {
	color: #222;
}

.change-timestamp {
	min-height: 400px;
}

.user-main .about .details .primary .bio {
	color: #222;
}

.select-kit.combo-box.category-drop .select-kit-row .category-desc {
	color: #222;
}

.select-kit.combo-box.category-drop .select-kit-row .topic-count {
	color: #222;
	font-weight: bold;
}

.select-kit .select-kit-collection {
	color: #222;
}

.header-navListItem--connect:hover .header-navListSub {
	display: block;
}

.header-navListSub {
	display: none;
}

.header-navListSub--connect {
	background-color: #ececec;
	list-style: none;
	width: 100%;
}

.header-navListSub--connect a {
	color: #222;
}

.header-navListSub--connect:hover {
	background-color: #019245;
}

.topic-list-main-link a.title, .topic-list .main-link a.title {
	color: #919191;
}


.admin-interface .d-header {
	top: 0;
}

.admin-interface #main-outlet {
	padding-top: 82px;
}

.d-header {
	background-color: #f7f7f7;
	border-bottom: 1px solid #9a9a9a;
	right: 0;
    box-shadow: none;
	left: auto;
	z-index: 97;
}

.select-box-kit .select-box-kit-header .selected-name {
	color: initial;
}

.topic-statuses + a {
	color: #222 !important;
}

.raw-link {
    color: #777 !important;
}

a {
	font-weight: bold;
}

.highlight-action .fa-heart,
.like-count ~ .like .fa-heart,
nav.post-controls button.has-like {
	color: #f11010 !important;
}

.post-controls {
	background-color: transparent;
}

.header-navListItemLink {
	color: #222 !important;
}

.timeline-container .topic-timeline .timeline-handle {
	background-color: #019245;
}

.timeline-container .topic-timeline .timeline-scrollarea {
	border-color: #019245;
}

.header nav {
	width: 100%;}
nav.nav-extended {
	height: auto; }
nav.nav-extended .nav-wrapper {
	min-height: 56px;
	height: auto; }
nav.nav-extended .nav-content {
	position: relative;
	line-height: normal; }
nav a {
	color: #fff; }
nav .nav-wrapper {
	position: relative;
	height: 100%; }

.side-nav {
	position: fixed;
	width: 300px;
	left: 0;
	background-color: #f7f7f7;
	top: 0;
	margin: 0;
	-webkit-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	transform: translateX(-100%);
	height: 100%;
	height: -webkit-calc(100% + 60px);
	height: calc(100% + 60px);
	height: -moz-calc(100%);
	padding-bottom: 60px;
	z-index: 999;
	overflow-y: auto;
	will-change: transform;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateX(-105%);
	-ms-transform: translateX(-105%);
	transform: translateX(-105%); }

@media only screen and (max-width: 992px) {
	.side-nav.fixed {
		-webkit-transform: translateX(-105%);
		-ms-transform: translateX(-105%);
		transform: translateX(-105%); }
	.side-nav.fixed.right-aligned {
		-webkit-transform: translateX(105%);
		-ms-transform: translateX(105%);
		transform: translateX(105%); }
	.side-nav a {
		padding: 0 16px; }
	.side-nav .user-view,
	.side-nav .userView {
		padding: 16px 16px 0; } }

.side-nav .collapsible-body > ul:not(.collapsible) > li.active,
.side-nav.fixed .collapsible-body > ul:not(.collapsible) > li.active {
	background-color: #019245; }
.side-nav .collapsible-body > ul:not(.collapsible) > li.active a,
.side-nav.fixed .collapsible-body > ul:not(.collapsible) > li.active a {
	color: #111923; }

.side-nav .collapsible-body {
	padding: 0; }

#sidenav-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 120vh;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 997;
	will-change: opacity; }

@import "header";

.ctm h2 {
	color: #019245 !important; }

.select-wrapper + label {
	top: -18px; }

.card .card-content p {
	font-size: 13px;
	font-weight: normal; }

.hm {
	background: none;
	border: none; }

.hws-connect-wrapper .card.small {
	border: 1px solid #00b354;
	height: 400px; }

.hws-connect-wrapper .card .card-image {
	position: initial; }

.commands-text {
	color: #fbfbfb;
	padding-top: 70px; }

.commands-table td:nth-child(1),
.commands-table th:nth-child(1) {
	text-align: right; }

.commands-table td:nth-child(2),
.commands-table th:nth-child(2) {
	text-align: left; }

.commands-label.pinned {
	left: 15% !important;
	top: 85px !important; }

.commands .commands-search {
	background-color: #111923 !important;
	font-weight: bold; }
.commands .commands-search:focus {
	color: #fbfbfb !important; }

.commands .commands-search.pinned {
	width: 70% !important;
	padding: 0 15px; }

.commands-separator {
	font-size: 20px;
	font-weight: bold;
	text-align: center; }

.commands-title {
	color: #019245;
	font-weight: bold; }

@media only screen and (max-width: 720px) {
	.commands .commands-search.pinned {
		top: 60px !important;
		width: 100% !important;
		left: 0 !important; }
	.commands-label.pinned {
		top: 75px !important;
		left: 4% !important; }
	.commands-table td:nth-child(1),
	.commands-table th:nth-child(1) {
		text-align: left;
		width: 50%;
		display: inline-block; }
	.commands-table td:nth-child(2),
	.commands-table th:nth-child(2) {
		text-align: left;
		width: 50%;
		display: inline-block; } }

@media only screen and (min-width: 721px) and (max-width: 992px) {
	.commands .commands-search.pinned {
		width: 85% !important; }
	.commands-label.pinned {
		left: 8% !important;
		top: 85px !important; } }

@media only screen and (min-width: 993px) {
	.commands-label.pinned {
		left: 17% !important; } }

.ecc {
	padding-top: 70px;
	color: #fbfbfb; }
.ecc-label.active {
	color: #fff; }
.ecc-calc {
	background: #019245;
	border: 3px solid #019245;
	box-shadow: 0 0 0 #019245, 0 5px 0 #004621, 0 5px 0 #004621;
	color: #fff;
	cursor: pointer;
	font-size: 18px;
	font-weight: 700;
	text-align: center;
	height: 50px;
	padding-top: 5px;
	text-decoration: none;
	transition: all 150ms ease;
	-webkit-transition: all 150ms ease;
	width: 150px; }
.ecc-calc a {
	padding: 16px 90px; }
.ecc-calc:hover {
	background: transparent;
	color: #fff;
	text-decoration: none; }
.ecc-calc:active {
	color: #fff;
	animation: none;
	-webkit-animation: none;
	box-shadow: 0 1px 0 #019245, 0 2px 0 #004621, 0 2px 2px #004621;
	-ms-transform: translateY(3px);
	transform: translateY(3px);
	-webkit-transform: translateY(3px); }
.ecc-calc:focus {
	background: #019245; }
.ecc-result {
	padding: 20px 0 !important; }
.ecc-resultNumber {
	color: #fbfbfb; }
.ecc-resultNumber--class {
	color: #019245; }
.ecc-info {
	color: #d0901d;
	font-size: 24px;
	font-weight: bold; }
.ecc-price {
	font-weight: bold; }
.ecc-price-info {
	display: block; }
.ecc-loader {
	display: none; }
.ecc-input:focus:not([readonly]) {
	border-bottom: 1px solid #fff !important; }
.ecc-inputError {
	border-bottom: 3px solid #d41313 !important; }
.ecc-supporterTitle {
	color: #d0901d;
	font-weight: bold;
	padding: 10px 0 0 0; }
.ecc-supporterHeaderS {
	color: #d0901d; }
.ecc-result-re, .ecc-result-bp {
	display: none;
	margin-top: 30px; }
.ecc-supporterBody, .ecc-loader {
	margin-top: 1rem; }
.ecc-supporterBodyGet {
	display: none; }
.ecc .chip {
	background-color: #00b354;
	margin: 0.2rem; }
.ecc-ne {
	border-bottom: 1px solid #d41313; }
.ecc-so {
	border-bottom: 1px solid #c37e07; }
.ecc-go {
	border-bottom: 1px solid #00b354; }

.discord-widget {
	margin: 40px 15px !important; }

.discord-title {
	text-align: center; }
.discord-title h3 {
	font-size: 20px !important;
	font-weight: 400 !important; }

.discord-allusers {
	height: 240px;
	overflow: auto; }

.discord-users-online {
	color: #d0901d; }

.discord-allusers-toggle {
	cursor: pointer !important; }

.discord-join {
	background: #019245 !important;
	border: 3px solid #019245 !important;
	box-shadow: 0 0 0 #019245, 0 5px 0 #004621, 0 5px 0 #004621;
	color: #fff;
	cursor: pointer;
	display: block;
	font-size: 18px;
	font-weight: 700 !important;
	text-align: center;
	height: 40px !important;
	padding-top: 5px !important;
	position: absolute;
	text-decoration: none;
	transition: all 150ms ease;
	-webkit-transition: all 150ms ease;
	width: 150px; }
.discord-join a {
	display: block; }
.discord-join:hover {
	background: transparent !important;
	color: #fff;
	text-decoration: none; }
.discord-join:active {
	animation: none;
	-webkit-animation: none;
	box-shadow: 0 1px 0 #019245, 0 2px 0 #004621, 0 2px 2px #004621;
	-ms-transform: translateY(3px);
	transform: translateY(3px);
	-webkit-transform: translateY(3px); }


.donation-right {
	color: #fbfbfb;
	height: 100%;
	overflow: auto;
	padding: 70px 30px;
	position: fixed;
	right: 0;
	width: 50%; }
.donation-right ul li {
	line-height: 26px;
	list-style-type: disc; }

.donation-left {
	color: #fbfbfb;
	margin-top: 70px; }

.donation-disc {
	background-color: #010303;
	border: 1px solid #9a9a9a;
	height: 100px;
	position: fixed;
	right: -50px;
	top: 20px;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	width: 100px;
	z-index: 100; }
.donation-discButton {
	color: #d0901d;
	font-size: 30px;
	position: absolute;
	right: 37px;
	top: 54px;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg); }

.donation-cart {
	background-color: #010303;
	border: 1px solid #9a9a9a;
	bottom: -50px;
	height: 100px;
	position: fixed;
	right: -50px;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	width: 100px;
	z-index: 1000; }
.donation-cartButton {
	color: #019245;
	font-size: 30px;
	position: absolute;
	right: 64px;
	top: 26px;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg); }

.donation-card {
	cursor: pointer; }
.donation-card--active {
	border: 3px solid #d0901d; }
.donation-cardImage {
	max-height: 30% !important; }
.donation-cardTitle {
	font-size: 20px !important; }

.donation-content ul li {
	list-style-type: disc;
	margin-left: 17px; }

.donation-input-field {
	margin-top: 22px; }

.donation-modal {
	background-color: #111923;
	color: #fbfbfb; }
.donation-modal .donation-modalFooter {
	background-color: #111923; }
.donation-modal strong {
	color: #d0901d; }
.donation-modalFooter {
	margin-bottom: 15px; }
.donation-modalFooterAccept {
	background: #019245;
	border: 3px solid #019245;
	box-shadow: 0 0 0 #019245, 0 5px 0 #004621, 0 5px 0 #004621;
	color: #fff;
	cursor: pointer;
	display: block;
	font-size: 18px;
	font-weight: 700;
	height: 50px;
	line-height: 40px;
	margin: 0 auto;
	padding: 0 10px;
	position: relative;
	text-align: center;
	text-decoration: none;
	transition: all 150ms ease;
	-webkit-transition: all 150ms ease;
	width: 150px; }
.donation-modalFooterAccept:hover {
	background: transparent;
	color: #fff;
	text-decoration: none; }
.donation-modalFooterAccept:active {
	animation: none;
	-webkit-animation: none;
	box-shadow: 0 1px 0 #019245, 0 2px 0 #004621, 0 2px 2px #004621;
	-ms-transform: translateY(3px);
	transform: translateY(3px);
	-webkit-transform: translateY(3px); }
.donation-modalFooterAccept:focus {
	background: #019245; }

.donation-calc {
	margin-bottom: 30px; }

.donation-infoButton {
	background: #019245;
	border: 3px solid #019245;
	box-shadow: 0 0 0 #019245, 0 5px 0 #004621, 0 5px 0 #004621;
	color: #fff;
	cursor: pointer;
	display: block;
	font-size: 16px;
	font-weight: 700;
	height: 30px;
	line-height: 22px;
	margin: 0 auto;
	padding: 0 10px;
	position: relative;
	text-align: center;
	text-decoration: none;
	transition: all 150ms ease;
	-webkit-transition: all 150ms ease;
	width: 150px; }
.donation-infoButton:hover {
	background: transparent;
	color: #fff;
	text-decoration: none; }
.donation-infoButton:active {
	animation: none;
	-webkit-animation: none;
	box-shadow: 0 1px 0 #019245, 0 2px 0 #004621, 0 2px 2px #004621;
	-ms-transform: translateY(3px);
	transform: translateY(3px);
	-webkit-transform: translateY(3px); }
.donation-infoButton:focus {
	background: #019245; }

.donation-image {
	width: 100%; }

.donation-contentText .donation-image {
	max-width: 70%; }

.donation-contentText a {
	color: #019245;
	text-decoration: underline; }

.donation-price {
	color: #d0901d;
	font-size: 40px;
	font-weight: bold; }

@media only screen and (max-width: 720px) {
	.donation-right {
		display: none; }
	.donation-disc {
		top: 10px; } }

@media only screen and (min-width: 721px) {
	.donation-arrow {
		font-size: 90px; }
	.donation-more {
		display: none; } }

@media only screen and (min-width: 993px) {
	.donation-arrow {
		font-size: 125px; }
	.donation-more {
		display: none; } }

.donation-price-info {
	display: block; }

.donation-loader {
	display: none; }

.donation-input:focus:not([readonly]) {
	border-bottom: 1px solid #019245 !important; }

.donation-inputError {
	border-bottom: 3px solid #d41313 !important; }

.donation-supporterTitle {
	color: #d0901d;
	font-weight: bold;
	padding: 10px 0 0 0; }

.donation-supporterHeaderS {
	color: #d0901d; }

.donation-result-re, .donation-result-bp {
	display: none;
	margin-top: 30px; }

.donation-supporterBody, .donation-loader {
	margin-top: 1rem; }

.donation-supporterBodyGet {
	display: none; }

.donation .chip {
	background-color: #00b354;
	margin: 0.2rem; }

.donation-ne {
	border-bottom: 1px solid #d41313; }

.donation-so {
	border-bottom: 1px solid #c37e07; }

.donation-go {
	border-bottom: 1px solid #00b354; }

#PPMiniCart form {
	background-color: #111923 !important;
	border: 1px solid #9a9a9a !important; }

#PPMiniCart ul {
	background-color: #111923 !important; }

#PPMiniCart .minicart-item + .minicart-item {
	border-top: 1px solid #9a9a9a !important; }

#PPMiniCart .minicart-item a {
	color: #fbfbfb !important; }

#PPMiniCart .minicart-submit {
	background: none !important;
	border: none !important;
	height: inherit !important;
	margin-right: 0 !important;
	min-width: 185px !important; }

.minicart-closer, .minicart-quantity {
	color: #fbfbfb; }

.minicart-empty-text {
	text-align: center; }

.minicart-price {
	color: #019245;
	font-weight: bold; }

.minicart-subtotal {
	color: #d0901d; }

@media only screen and (max-width: 720px) {
	#PPMiniCart {
		left: 0% !important;
		top: 30% !important;
		width: 100%;
		z-index: 70; }
	#PPMiniCart ul {
		width: 100% !important; }
	#PPMiniCart form {
		width: 100% !important;
		top: 30% !important;
		margin-left: 0 !important;
		max-height: 100% !important; }
	#PPMiniCart .minicart-submit {
		height: 43px !important;
		width: 100px !important;
		bottom: 8px !important;
		right: -5px !important;
		min-width: 155px !important; }
	#PPMiniCart .minicart-submit img {
		width: 90% !important; } }

@media only screen and (min-width: 721px) {
	#PPMiniCart {
		left: 50% !important;
		z-index: 70; }
	#PPMiniCart ul {
		width: 100% !important; }
	#PPMiniCart form {
		top: 30% !important;
		max-height: 100% !important; } }

.hws-cart {
	margin-top: 100px; }

.input-field input:not([type]),
.input-field input[type=text],
.input-field input[type=password],
.input-field input[type=email],
.input-field input[type=url],
.input-field input[type=time],
.input-field input[type=date],
.input-field input[type=datetime],
.input-field input[type=datetime-local],
.input-field input[type=tel],
.input-field input[type=number],
.input-field input[type=search] {
	height: 4rem !important; }

.card.small .card-content, .card.medium .card-content, .card.large .card-content, .card {
	overflow: visible; }

.card .card-image .card-title {
	background-color: #004621;
	font-weight: bold;
	text-align: center;
	width: 100%; }

.card.large {
	height: 760px !important; }

#viewcart {
	cursor: pointer; }

.own-planet-card {
	overflow: visible !important; }

::-moz-selection {
	background: #019245;
	color: #fff;
	text-shadow: 0 0 0 #fff; }

::selection {
	background: #019245;
	color: #fff;
	text-shadow: 0 0 0 #fff; }

::-moz-selection {
	background: #019245;
	color: #fff;
	text-shadow: 0 0 0 #fff; }

.discord-userlist::-webkit-scrollbar {
	background-color: #010303;
	width: 10px; }

.discord-userlist::-webkit-scrollbar-track {
	-webkit-box-shadow: #fff; }

.discord-userlist::-webkit-scrollbar-thumb {
	background-color: #004621;
	outline: 1px solid #004621; }

#sidenav-overlay {
	z-index: 10; }

.drag-target {
	width: 10px !important; }

@-webkit-keyframes pulsate {
	0% {
		-webkit-transform: scale(0.1, 0.1);
		opacity: 0.0;
		-webkit-transform: scale(0.1, 0.1);
		transform: scale(0.1, 0.1); }
	50% {
		opacity: 1.0; }
	100% {
		-webkit-transform: scale(1.2, 1.2);
		opacity: 0.0;
		-webkit-transform: scale(1.2, 1.2);
		transform: scale(1.2, 1.2); } }

@-webkit-keyframes slide {
	0% {
		right: 5px; }
	50% {
		right: 10px; }
	100% {
		right: 5px; } }

.parallax-container {
	z-index: 1; }

.parallax-container .parallax img {
	opacity: 0;
	-webkit-transition: opacity .3s ease-in;
	transition: opacity .3s ease-in; }

.hws-forum-loader {
	display: none; }

.card,
.select-dropdown.dropdown-content li:hover,
.card .card-reveal {
	background-color: #010303; }

.select-dropdown li.optgroup {
	color: #fbfbfb; }

.dropdown-content li {
	font-weight: bold; }

.card-title {
	font-weight: bold; }

.card-reveal .donation-calc {
	padding-bottom: 25px; }

.donation-label .active,
.select-dropdown li.disabled,
.select-dropdown li.disabled > span {
	color: #9a9a9a; }

.select-dropdown li.disabled:hover {
	background-color: #111923; }

.side-nav,
.header,
.donation-modal .donation-modalFooter,
.donation-disc,
.donation-cart,
.dropdown-content {
	background-color: #f7f7f7; }

#PPMiniCart form,
#PPMiniCart ul,
.commands-text .commands-search {
	background-color: #ececec !important; }

.commands-search:focus {
	color: #222 !important; }

nav ul a,
.content-text,
.content,
.dropdown-content li > a,
.dropdown-content li > span,
.card-reveal p,
.donation-contentText,
.donation-contentText p,
.donation-contentTitle,
.donation-calc,
.input-field label,
.commands-text,
.ecc-label,
.ecc-text,
.ecc p,
.ecc-resultNumber,
.base li,
.base p,
.base h3,
.base h4 {
	color: #222; }

.footer {
	background-color: #fbfbfb;
	border-top: 1px solid #9a9a9a; }

.footer nav {
	background-color: #fbfbfb; }

.content-textLine {
	background-color: #9a9a9a; }

.select-dropdown li.disabled,
.select-dropdown li.disabled > span {
	color: #9a9a9a; }

.select-dropdown li.disabled:hover {
	background-color: #ececec !important; }

#PPMiniCart .minicart-item a,
.minicart-closer,
.minicart-quantity,
.minicart-empty-text {
	color: #222 !important; }

.header-nav--active {
	background: none;
	background-color: #019245;
	color: #fff; }

.header-navListItem a:hover,
.header-navListItem--mobile a:hover {
	color: #fff !important; }

.header-navListItem:hover,
.header-navListItem--mobile:hover {
	background: none;
	background-color: #019245;
	color: #fff; }

.sidebar-toggler--right {
	color: #d0901d; }

.sidebar-toggler--left {
	color: #019245; }


.sidebar-toggler--right,
.sidebar-toggler--left {
	padding: 10px;
}

.discord-join,
.discord-join a,
.donation-modalFooterAccept,
.donation-info,
.donation-infoButton,
.ecc-calc {
	color: #fbfbfb; }
.discord-join:hover,
.discord-join:hover a,
.discord-join:hover span,
.discord-join a:hover,
.discord-join a:hover a,
.discord-join a:hover span,
.donation-modalFooterAccept:hover,
.donation-modalFooterAccept:hover a,
.donation-modalFooterAccept:hover span,
.donation-info:hover,
.donation-info:hover a,
.donation-info:hover span,
.donation-infoButton:hover,
.donation-infoButton:hover a,
.donation-infoButton:hover span,
.ecc-calc:hover,
.ecc-calc:hover a,
.ecc-calc:hover span {
	color: #222; }
.discord-join:active,
.discord-join a:active,
.donation-modalFooterAccept:active,
.donation-info:active,
.donation-infoButton:active,
.ecc-calc:active {
	background-color: #019245;
	color: #fbfbfb; }



.header-navListItem--patreon {
	background-color: #f96854 !important;
}

.header-navListItem--patreon:hover {
	background: #de5c4a !important;
	background-color: #de5c4a !important;
}

.footer-navListItem {
	border-bottom: 1px solid #fbfbfb; }
.footer-navListItem:hover {
	border-bottom: 1px solid #019245; }

.discord-userlist::-webkit-scrollbar,
.discord-userlist::-webkit-scrollbar-track {
	background-color: #9a9a9a; }

.discord-userlist::-webkit-scrollbar-thumb {
	background-color: #004621; }

.card,
.card-reveal,
.select-dropdown.dropdown-content li:hover,
.card .card-reveal {
	background-color: #fff;
	color: #222; }

#user-card .card-content {
	padding: 30px 12px 0 12px;
}

#banner {
	background: #f7f7f7;
	box-shadow: 0 1px 2px #111a25;
	color: #222;
}

#banner .close,
html.dark .badge-wrapper.bar span.badge-category {
color: #777;
}

.badge-wrapper.bar span.badge-category:hover,
html.dark .badge-wrapper.bar span.badge-category:hover {
    color: #019245;
}

#green {
	color: #019245 !important;
}

ol.category-breadcrumb {
	margin: 0 10px 10px 0;
}

.badge-category .clear-badge,
.list-controls .category-breadcrumb a.badge-category {
	color: #f7f7f7;
}

.badge-notification.new-posts,
.badge-notification.unread-posts {
	background-color: #019245;
}
.d-header .icons .unread-notifications {
	background-color: #d0901d;
}

.badge-notification.new-topic {
	color: #019245;
}

.latest-topic-list-item .main-link a.title.visited:not(.badge-notification) {
	color: #222;
}

.pika-button:hover {
	background-color: #317d55;
}

@media only screen and (min-width: 721px) {
	.sidebar-icon--left {
		display: none; }

}

.header-nav--active {
	background: none;
	background-color: #019245;
	font-weight: bold;
	color: #fff;
}






















#topic-progress-wrapper {
	z-index: 700;
}


/*********************
Media Query Classes
**********************/
@media only screen and (max-width: 720px) {
	.hide-on-small-only, .hide-on-small-and-down {
		display: none !important; } }

@media only screen and (max-width: 992px) {
	.hide-on-med-and-down {
		display: none !important; } }

@media only screen and (min-width: 721px) {
	.hide-on-med-and-up {
		display: none !important; } }

@media only screen and (min-width: 720px) and (max-width: 992px) {
	.hide-on-med-only {
		display: none !important; } }

@media only screen and (min-width: 993px) {
	.hide-on-large-only {
		display: none !important; } }

@media only screen and (min-width: 993px) {
	.show-on-large {
		display: block !important; } }

@media only screen and (min-width: 720px) and (max-width: 992px) {
	.show-on-medium {
		display: block !important; } }

@media only screen and (max-width: 720px) {
	.show-on-small {
		display: block !important; } }

@media only screen and (min-width: 721px) {
	.show-on-medium-and-up {
		display: block !important; } }

@media only screen and (max-width: 992px) {
	.show-on-medium-and-down {
		display: block !important; } }

@media only screen and (max-width: 720px) {
	.center-on-small-only {
		text-align: center; } }

@-webkit-keyframes indeterminate {
	0% {
		left: -35%;
		right: 100%; }
	60% {
		left: 100%;
		right: -90%; }
	100% {
		left: 100%;
		right: -90%; } }

@keyframes indeterminate {
	0% {
		left: -35%;
		right: 100%; }
	60% {
		left: 100%;
		right: -90%; }
	100% {
		left: 100%;
		right: -90%; } }

@-webkit-keyframes indeterminate-short {
	0% {
		left: -200%;
		right: 100%; }
	60% {
		left: 107%;
		right: -8%; }
	100% {
		left: 107%;
		right: -8%; } }

@keyframes indeterminate-short {
	0% {
		left: -200%;
		right: 100%; }
	60% {
		left: 107%;
		right: -8%; }
	100% {
		left: 107%;
		right: -8%; } }

/*******************
Utility Classes
*******************/
.hide {
	display: none !important; }

.left-align {
	text-align: left; }

.right-align {
	text-align: right; }

.center, .center-align {
	text-align: center; }

.no-select, input[type=range],
input[type=range] + .thumb {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none; }

.circle {
	border-radius: 50%; }

.center-block {
	display: block;
	margin-left: auto;
	margin-right: auto; }

.truncate {
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis; }

.no-padding {
	padding: 0 !important; }

/* This is needed for some mobile phones to display the Google Icon font properly */
.material-icons {
	text-rendering: optimizeLegibility;
	-webkit-font-feature-settings: 'liga';
	font-feature-settings: 'liga'; }


@media only screen and (min-width: 993px) {
	nav a.button-collapse {
		display: none; } }
nav .button-collapse {
	float: left;
	position: relative;
	z-index: 1;
	height: 56px;
	margin: 0 18px; }
nav .button-collapse i {
	height: 56px;
	line-height: 56px; }
nav .brand-logo {
	position: absolute;
	color: #fff;
	display: inline-block;
	font-size: 2.1rem;
	padding: 0; }
nav .brand-logo.center {
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%); }
@media only screen and (max-width: 992px) {
	nav .brand-logo {
		left: 50%;
		-webkit-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		transform: translateX(-50%); }
	nav .brand-logo.left, nav .brand-logo.right {
		padding: 0;
		-webkit-transform: none;
		-ms-transform: none;
		transform: none; }
	nav .brand-logo.left {
		left: 0.5rem; }
	nav .brand-logo.right {
		right: 0.5rem;
		left: auto; } }
nav .brand-logo.right {
	right: 0.5rem;
	padding: 0; }
nav .brand-logo i,
nav .brand-logo [class^="mdi-"], nav .brand-logo [class*="mdi-"],
nav .brand-logo i.material-icons {
	float: left;
	margin-right: 15px; }
nav .nav-title {
	display: inline-block;
	font-size: 32px;
	padding: 28px 0; }
nav ul {
	margin: 0; }
nav ul li {
	-webkit-transition: background-color .3s;
	transition: background-color .3s;
	float: left;
	padding: 0; }
nav ul li.active {
	background-color: rgba(0, 0, 0, 0.1); }
nav ul a {
	-webkit-transition: background-color .3s;
	transition: background-color .3s;
	font-size: 1rem;
	display: block;
	padding: 0 15px;
	cursor: pointer; }
nav ul a.btn, nav ul a.btn-large, nav ul a.btn-large, nav ul a.btn-flat, nav ul a.btn-floating {
	margin-top: -2px;
	margin-left: 15px;
	margin-right: 15px; }
nav ul a.btn > .material-icons, nav ul a.btn-large > .material-icons, nav ul a.btn-large > .material-icons, nav ul a.btn-flat > .material-icons, nav ul a.btn-floating > .material-icons {
	height: inherit;
	line-height: inherit; }
nav ul a:hover {
	background-color: rgba(0, 0, 0, 0.1); }
nav ul.left {
	float: left; }
nav form {
	height: 100%; }
nav .input-field {
	margin: 0;
	height: 100%; }
nav .input-field input {
	height: 100%;
	font-size: 1.2rem;
	border: none;
	padding-left: 2rem; }
nav .input-field input:focus, nav .input-field input[type=text]:valid, nav .input-field input[type=password]:valid, nav .input-field input[type=email]:valid, nav .input-field input[type=url]:valid, nav .input-field input[type=date]:valid {
	border: none;
	box-shadow: none; }
nav .input-field label {
	top: 0;
	left: 0; }
nav .input-field label i {
	color: rgba(255, 255, 255, 0.7);
	-webkit-transition: color .3s;
	transition: color .3s; }
nav .input-field label.active i {
	color: #fff; }

.navbar-fixed {
	position: relative;
	height: 56px;
	z-index: 997; }
.navbar-fixed nav {
	position: fixed; }

@media only screen and (min-width: 721px) {

	.navbar-fixed {
		height: 149px; } }


.light, .page-footer .footer-copyright {
	font-weight: 300; }

.flow-text {
	font-weight: 300; }
@media only screen and (min-width: 360px) {
	.flow-text {
		font-size: 1.2rem; } }
@media only screen and (min-width: 384px) {
	.flow-text {
		font-size: 1.224rem; } }
@media only screen and (min-width: 408px) {
	.flow-text {
		font-size: 1.248rem; } }
@media only screen and (min-width: 432px) {
	.flow-text {
		font-size: 1.272rem; } }
@media only screen and (min-width: 456px) {
	.flow-text {
		font-size: 1.296rem; } }
@media only screen and (min-width: 480px) {
	.flow-text {
		font-size: 1.32rem; } }
@media only screen and (min-width: 504px) {
	.flow-text {
		font-size: 1.344rem; } }
@media only screen and (min-width: 528px) {
	.flow-text {
		font-size: 1.368rem; } }
@media only screen and (min-width: 552px) {
	.flow-text {
		font-size: 1.392rem; } }
@media only screen and (min-width: 576px) {
	.flow-text {
		font-size: 1.416rem; } }
@media only screen and (min-width: 600px) {
	.flow-text {
		font-size: 1.44rem; } }
@media only screen and (min-width: 624px) {
	.flow-text {
		font-size: 1.464rem; } }
@media only screen and (min-width: 648px) {
	.flow-text {
		font-size: 1.488rem; } }
@media only screen and (min-width: 672px) {
	.flow-text {
		font-size: 1.512rem; } }
@media only screen and (min-width: 696px) {
	.flow-text {
		font-size: 1.536rem; } }
@media only screen and (min-width: 720px) {
	.flow-text {
		font-size: 1.56rem; } }
@media only screen and (min-width: 744px) {
	.flow-text {
		font-size: 1.584rem; } }
@media only screen and (min-width: 768px) {
	.flow-text {
		font-size: 1.608rem; } }
@media only screen and (min-width: 792px) {
	.flow-text {
		font-size: 1.632rem; } }
@media only screen and (min-width: 816px) {
	.flow-text {
		font-size: 1.656rem; } }
@media only screen and (min-width: 840px) {
	.flow-text {
		font-size: 1.68rem; } }
@media only screen and (max-width: 360px) {
	.flow-text {
		font-size: 1.2rem; } }

.collapsible {
	border-top: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-left: 1px solid #ddd;
	margin: 0.5rem 0 1rem 0; }

.collapsible-header {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
	line-height: 1.5;
	padding: 1rem;
	background-color: #fff;
	border-bottom: 1px solid #ddd; }
.collapsible-header i {
	width: 2rem;
	font-size: 1.6rem;
	display: inline-block;
	text-align: center;
	margin-right: 1rem; }

.collapsible-body {
	display: none;
	border-bottom: 1px solid #ddd;
	box-sizing: border-box;
	padding: 2rem; }

.side-nav .collapsible,
.side-nav.fixed .collapsible {
	border: none;
	box-shadow: none; }
.side-nav .collapsible li,
.side-nav.fixed .collapsible li {
	padding: 0; }

.side-nav .collapsible-header,
.side-nav.fixed .collapsible-header {
	background-color: transparent;
	border: none;
	line-height: inherit;
	height: inherit;
	padding: 0 16px; }
.side-nav .collapsible-header:hover,
.side-nav.fixed .collapsible-header:hover {
	background-color: rgba(0, 0, 0, 0.05); }
.side-nav .collapsible-header i,
.side-nav.fixed .collapsible-header i {
	line-height: inherit; }

.side-nav .collapsible-body,
.side-nav.fixed .collapsible-body {
	border: 0;
	background-color: #fff; }
.side-nav .collapsible-body li a,
.side-nav.fixed .collapsible-body li a {
	padding: 0 23.5px 0 31px; }

.collapsible.popout {
	border: none;
	box-shadow: none; }
.collapsible.popout > li {
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	margin: 0 24px;
	-webkit-transition: margin 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	transition: margin 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94); }
.collapsible.popout > li.active {
	box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
	margin: 16px 0; }

@import "nav-list";

.latest-topic-list-item {
	margin: 10px 0;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0, 0, 0, 0.22);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	border-bottom: none;
}

.latest-topic-list-item:hover {
	box-shadow: 0 7px 12px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
}

.category-list tbody tr {
	border-bottom: none;
}

.category-boxes-with-topics .featured-topics li {
	padding: 2px 0;
}

.category-boxes-with-topics .featured-topics li a:hover {
	text-decoration: underline;
}

.category-list tbody tr {
	border-collapse: separate;
	border-spacing: 0 2px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0, 0, 0, 0.22);
	transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.category-list tbody tr:hover {
	box-shadow: 0 7px 12px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
}

.category-boxes .category-box-inner, .category-boxes-with-topics .category-box-inner {
	border-width: 0;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0, 0, 0, 0.22);
	transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
	border-style: none;
	border-color: transparent;
}

.category-boxes .category-box-inner:hover,
.category-boxes-with-topics .category-box-inner:hover {
	box-shadow: 0 7px 12px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
}

@import "dark";