@if $import-google-font == "true" {
  @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&display=swap');
}

// -------------------------------------------------------------------------------- Overwrite defaults
body,
html {
  @if $import-google-font == "true" {
    font-family: 'Comfortaa', sans-serif;
  } @else {
    font-family: sans-serif;
  }
  font-size: 16px;
  background: rgb(23, 27, 40);
  background: linear-gradient(-45deg, var(--alien-bg-grading-color-1) 0%, var(--alien-bg-grading-color-2) 36%, var(--alien-bg-grading-color-3) 100%);
}

strong, b {
  font-weight: 800;
  color: var(--tertiary);
}

a,
a:visited {
  @if $import-google-font == "true" {
    font-family: 'Comfortaa', sans-serif;
  } @else {
    font-family: sans-serif;
  }
  font-weight: bold;
  color: var(--quaternary);
}

.cooked a {
  text-decoration: underline;
}

.cooked a:hover {
  color: var(--highlight);
  text-decoration: none;
}

::-moz-selection {
  background: var(--quaternary);
  color: #fff;
  text-shadow: 0 0 0 #fff;
}

::selection {
  background: var(--quaternary);
  color: #fff;
  text-shadow: 0 0 0 #fff;
}

.small-action {
  max-width: calc(770px + (11px * 2));
}

.timeline-container {
  z-index: 95;
}

.user-card {
  z-index: 9999;
}


// ------------------------------------------------------------------------------------------ Custom styles

.category-list .subcategories {
  display: inline-grid;
}

.category-list .subcategories .subcategory {
  padding: 2px 0;
}

[data-group-card='patrons'] {
  color: #ff424d !important;
}

.d-header {
     background: var(--secondary);
}

.d-header-icons .unread-notifications {
  background-color: var(--quaternary);
}

.c-drawer--right a:hover {
  color: var(--tertiary);
}

.dl-switcher {
  display: flex;

  & .scheme-toggle {
    padding-right: 10px;
  }
}

.md-table table thead {
  position: sticky;
  top: 0;
}

.open-popup-link {
  background-color: var(--quaternary);
}

// ------------------------------------------------------------------- Overwrite Component Custom Links styles

.headerLink a:hover {
  color: white;
  background-color: var(--quaternary);
  border-radius: 4px;
}

.headerLink:last-child a {
  color: var(--secondary);
  background-color: #ff424d;
  border-radius: 4px;
}

.archetype-private_message .topic-body .cooked {
  box-sizing: border-box;
  border: none;
  border-radius: 0;
  background: none;
}

// ------------------------------------------------------------------------- Custom Component Sidebar styles
#c-drawer--right {
  display: none;
}

#c-drawer--right:checked ~ #c-drawer-overlay--right {
  display: block;
}

#c-drawer--right:checked ~ .c-drawer--right {
  visibility: visible;
  transform: translate3d(0, 0, 0);
}

#c-drawer-overlay--right {
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  height: 100%;
  right: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.c-drawer--right {
  position: fixed;
  right: 0;
  z-index: 101;
  margin-top: 60px;
  visibility: visible;
  width: 250px;
  height: 100%;
  background: transparent;
  color: var(--primary);
  transition: all 0.2s;
  transform: translate3d(100%, 0, 0);
  padding: 30px 10px;
  overflow: auto;
}

.mobile-navigation {
  display: none;
}

.side-nav--left,
.side-nav--right {
  display: none;
}

.sidebar-counterRefreshIcon {
  cursor: pointer;
  transition: transform 150ms ease-in-out;
  width: 20px;
  margin: 0 auto;
  height: 20px;
  padding: 10px;
}

.sidebar-counterRefreshIcon:hover {
  transform: rotate(180deg);
}

.show {
  display: block;
}

.cooked {
  line-height: 1.7;
}


a.title {
  line-height: 1.5;
  font-size: 18px;
}

span.link-top-line:hover,
.top-row:hover,
.category-list .category-name:hover {
  text-decoration: underline;
}


.topic-body.highlighted {
  animation: fadein 1s;
}

.footer {
  margin-bottom: 0;
  text-align: center;
  width: 100%;
  position: relative;
  z-index: 1;
}

.select-kit.combo-box.category-drop.bar.has-selection .category-drop-header {
  padding: 7px;
}

.sidebar-hamburger {
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: var(--quaternary);
  font-size: var(--font-up-4);
  color: #fff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  z-index: 9999;
  cursor: pointer;
}

.sidebar-toggler--right {
  padding: 7px 10px;
}

.c-drawer--right:after {
  content: "";
  display: block;
  height: 100px;
  width: 100%;
}

// ------------------------------------------------------------------------------ Overwrite Discourse defaults
iframe .widgetBody-38iyIo {
  display: none !important;
}

body.has-sidebar-page #main-outlet-wrapper {
  grid-template-columns: var(--d-sidebar-width) minmax(0, 0.9fr);
}

.list-cell, .table-heading,
.category-list td,
.category-list th,
.latest-topic-list .table-heading {
  color: var(--primary-medium);
}

.user-menu .quick-access-panel li:hover,
.menu-panel .widget-link:hover,
div.menu-links-header button:hover,
div.menu-links-header button:focus.active,
.select-kit .select-kit-collection:hover .select-kit-row.is-highlighted:hover,
.select-kit .select-kit-row.is-highlighted,
.select-kit .select-kit-row.is-selected.is-highlighted {
  background-color: var(--alien-hover-colors);
  background: var(--alien-hover-colors);
}

.user-menu .quick-access-panel {
  border-top: 1px solid var(--alien-hover-colors);
}

div.menu-links-header .menu-links-row button.active {
  border: 1px solid var(--sidebar-hover);
  border-bottom: 1px solid var(--secondary);
}

.timeline-container .topic-timeline .timeline-handle, {
  background-color: var(--tertiary);
}

.timeline-container .topic-timeline .timeline-scrollarea {
  border-color: var(--tertiary);
}

html.whos-online-flair .topic-avatar.user-online::before {
  z-index: 1;
}

td {
  font-size: 14px;
}

.md-table td,
.modal-body td {
  //border-left: 1px solid var(--primary-low);
  box-shadow: inset 0 0 0 1px var(--primary-low);
}

.open-popup-link {
  display: none;
}

.HWSTableModal {
  background: var(--quaternary);
  color: #fff;
}

.category-boxes-with-topics .featured-topics li {
  padding: 2px 0;
}

.featured-topics li a {
  font-size: 14px;
}

.sidebar-wrapper {
    background: var(--secondary);
}

.sidebar-footer-wrapper .sidebar-footer-container {
    background: var(--alien-bg-grading-color-1);
}

.sidebar-footer-wrapper .sidebar-footer-container:before {
    background: linear-gradient(0deg, var(--alien-bg-grading-color-1) 0%, var(--alien-bg-grading-color-2) 0%, var(--secondary) 100%);
}
// --------------------------------------------------------------------------------------- Media Queries / Mobile
.cooked {
  line-height: var(--alien-dark-lh-smoothness);
  font-size: var(--alien-dark-fs-smoothness);
}

// Do when less than 1700px
@media (max-width: 1549px) {
  .c-drawer--right {
    background: rgb(23, 27, 40);
    background: linear-gradient(-45deg, var(--alien-bg-grading-color-1) 0%, var(--alien-bg-grading-color-2) 36%, var(--alien-bg-grading-color-3) 100%);
  }

  .mobile-navigation {
    display: block;
  }

  .header-navListItemLink {
    font-size: 14px;
  }

  .categories-list .wrap {
    padding-right: 10px;
  }
}


// Do when less than 1600px
@media (max-width: 1680px) {
  .c-drawer--right {
    width: 200px;
  }
}

// Do when bigger than 1550px
@media (min-width: 1580px) {
  #c-drawer--right,
  #c-drawer--left,
  .sidebar-toggler--right {
    display: none;
  }

  .sidebar-hamburger {
    display: none;
  }

  .c-drawer--right {
    visibility: visible;
    transform: translate3d(0, 0, 0);
  }
}

